.coffee-submenu {
    width: 8vw;
    position: absolute;
    list-style: none;
    text-align: start;
}

.coffee-submenu li{
    cursor: pointer;
    background: rgb(144, 58, 72);
}

.coffee-submenu.clicked {
    display: none;
}

.submenu-item {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color:rgb(59, 12, 12);
    padding: 16px;
}